<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--授权Api-->
		<add key="AuthorizationWebApi" value="http://localhost:7070/api/AuthorizationControllers"/>
		<!--业务Api-->
		<add key="VocationalWorkWebApi" value="https://localhost:7048/api/LoginLoadeControllers"/>
	</appSettings>
	<connectionStrings>
		<!--数据库链接-->
		<!--<add name="CMBaseDB" connectionString="Data Source =orcl;User Id = MyManage;Password = 1;" providerName="System.Data.OracleClient" />-->
		<add name="CMBaseDB" connectionString="server=.;database=EIMSBase;uid=sa;pwd=sa" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>